#container {
  background-color: #3E3F41;
}

#title {
  align-content: center;
}

#buttonAccept {
  width: 100%;
}

#contraseñaOlvidada {
  color: white;
}

#registrate {
  text-align: center;
  display: inline;
}